#productContainer {
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 20%; 
    padding: 10px;
    background-color: #f4f4f4; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    transition: transform 0.3s ease; 
}
.product:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}
.product img {
    width: 100%; 
    border-radius: 5px; 
}