#productContainer {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 20%; 
    padding: 10px;
    background-color: #f4f4f4; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    transition: transform 0.3s ease; 
}

.product:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.product img {
    width: 100%; 
    border-radius: 5px; 
}

#filterIcons {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.filterIcon {
    font-size: 36px; 
    border-radius: 50%; 
    background-color: #ccc; 
    padding: 15px; 
    margin: 10px; 
    cursor: pointer; 
    transition: transform 0.3s ease; /* Glätten der Übergangsanimation */
}

.filterIcon:hover {
    animation: pulse 1s infinite; /* Starten der Pulsieren-Animation beim Hover */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Startgröße */
    }
    50% {
        transform: scale(1.2); /* Größere Skalierung */
    }
    100% {
        transform: scale(1); /* Zurück zur Startgröße */
    }
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.product-image-container {
    margin-bottom: 20px;
    text-align: center;
}

.product-info {
    text-align: center;
}

.product-image {
    width: 300px; 
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #0056b3; 
}

.product-image {
    width: 70%; 
    transition: transform 0.3s ease; 
}

.product-image:hover {
    transform: scale(1.1); 
}

.categoryContainer {
    background-color: #e0e0e0; 
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 10px;
    text-align: center; 
}
.size-chart {
    width: 100%; 
    height: auto; 
    display: block; 
    margin-top: 10px; 
}
.sizechart-image {
    transition: transform 0.3s; 
}
